In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male','smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[["charges"]]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import GridSearchCV 
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}

In [10]:
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\ragus\HOPES\ANACONDA 3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [11]:
re=grid.cv_results_
print=("best_parametes{}:".format(grid.best_params_))

In [12]:
print

"best_parametes{'criterion': 'mae', 'max_features': 'auto', 'splitter': 'best'}:"

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.020243,0.003994,0.008567,0.005485,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.726588,0.649199,0.727519,0.716416,0.662349,0.696414,0.033668,6
1,0.020438,0.002351,0.008306,0.000516,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.701407,0.600889,0.663631,0.709080,0.744128,0.683827,0.048723,8
2,0.020171,0.001284,0.006585,0.003781,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.580994,0.636957,0.748769,0.685791,0.708362,0.672174,0.058165,10
3,0.018667,0.005329,0.009438,0.001938,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.670135,0.502865,0.663493,0.680055,0.719979,0.647305,0.074834,14
4,0.017867,0.003489,0.010952,0.003964,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.752871,0.622163,0.672851,0.707907,0.732067,0.697572,0.046157,4
5,0.018024,0.004960,0.007508,0.000517,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.604286,0.581725,0.684625,0.709535,0.621899,0.640414,0.048631,16
6,0.079846,0.004927,0.006003,0.001357,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.731994,0.655674,0.705990,0.714030,0.743968,0.710331,0.030400,1
7,0.072114,0.006526,0.007447,0.002333,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.668927,0.645024,0.691712,0.723201,0.744589,0.694691,0.035894,7
8,0.052236,0.005146,0.008500,0.001251,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.638350,0.617294,0.615687,0.719994,0.746267,0.667519,0.054799,11
9,0.045274,0.005057,0.008359,0.001052,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.608224,0.626599,0.637791,0.612265,0.618825,0.620741,0.010557,17
10,0.056177,0.005550,0.008440,0.004544,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.545915,0.625553,0.726461,0.633985,0.711044,0.648592,0.065193,13
11,0.045196,0.006005,0.011554,0.002901,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.760574,0.554353,0.672287,0.732467,0.762941,0.696524,0.078238,5
12,0.015245,0.004427,0.008532,0.003353,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.721014,0.651261,0.738160,0.736856,0.694970,0.708452,0.032557,2
13,0.010842,0.003639,0.004233,0.002511,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.693494,0.594198,0.754363,0.686781,0.678370,0.681441,0.051210,9
14,0.007925,0.001047,0.006066,0.003064,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.657659,0.466730,0.683499,0.732811,0.714368,0.651014,0.095671,12
15,0.007868,0.001047,0.005217,0.001307,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.645448,0.507432,0.670955,0.631143,0.585403,0.608076,0.057490,18
16,0.006673,0.002892,0.004221,0.003571,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.763576,0.603338,0.789034,0.709180,0.658376,0.704701,0.067851,3
17,0.008747,0.002651,0.003096,0.001928,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.709396,0.509009,0.704175,0.652582,0.654557,0.645944,0.072507,15

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:2
BMI:23
Children:4
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [16]:
Future_prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print=("Future_prediction={}",format(Future_prediction))
print

C:\Users\ragus\HOPES\ANACONDA 3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"

('Future_prediction={}', '[4561.1885]')